h1{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: aquamarine; color: blueviolet}
table{background-color:yellow;color:chartreuse ;}
h2{font-family: 'Times New Roman', Times, serif;
background-color: brown; color: darkorange;}
a{color: rgb(214, 7, 241);}
h4{background-color: blue;color: rgb(240, 4, 114);}
p{background-color: rgb(129, 230, 13); color: #ffc400;}
