body{
    background-image: url('img/img.jpg');
    background-repeat: repeat;
    background-size: cover;
}


h1{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: aquamarine; color: blueviolet}
table{background-color:yellow;color:#0059ff ;}
h2{font-family: 'Times New Roman', Times, serif;
background-color: brown; color: darkorange;}
a{color: rgb(214, 7, 241);}
h4{background-color: blue;color: rgb(240, 4, 114);}
p{background-color: rgb(230, 13, 158); color: #ffc400;}
